* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image:url(https://img1.akspic.ru/image/135794-atmosfera-kosmos-purpur-zvezda-tumannost-3840x2160.jpg);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    outline:none;
}

.content {
    width: 375px;
    height: 350px;
    border-radius: 10px;
    padding:50px;
}

.result {
    width: 275px;
    height: 225px;
    background: white;
    border-radius: 2px;
    padding:15px;
}

#value {
    width: 200px;
}

#button {
    width: 70px;
}